html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background:#2E3441;
}

/* wrappers */
.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#2E3441;
    flex-direction: column;
}

.listGame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    border: 1px solid mistyrose;
}

.formWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
}

/* forms */
.bar {
    display: flex;
    position: relative;
}

.listGameBar {
    display: flex;
    position: relative;
    top: 0;
}

/* inputs */
.submit {
    background: #ddaf64;
    border: #ddaf64;
    border-radius: 5px;
}

.submitGame {
    background: #ddaf64;
    border: #ddaf64;
    border-radius: 5px;
}

.text {
    padding: 10px 50px;
    text-align: center;
    min-width: 40vh;
    border-radius: 5px;
    background: #ddaf64;
    color: black;
}

.textGame {
    padding: 10px 50px;
    text-align: center;
    min-width: 30vh;
    border-radius: 5px;
    background: #ddaf64;
    color: black;
}

/* lists */
.game {
    align-items: center;
    top: 495px;
    padding-right: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.listNav {
    align-items: center;
    position: absolute;
    padding-right: 60px;
    top: 30px;
}

.gameList {
    display: flex;
    flex-direction: column;
    top: 495px;
    padding: 5% 20%;
    border: 1px solid mistyrose;
}

.display {
    background: #ddaf64;
    list-style: none;
    font-size: 10px;
    border-bottom: 1px solid #2E3441;
    box-shadow: 0 0 5px #ddaf64;
    transition: background 2s;
    text-transform: capitalize;
    min-width: 40vh;
    max-width: 5vh;
    margin: 0px 5px;
    display: inline-flex;
    padding: 5px;
}

.gameDisplay {
    background: #ddaf64;
    list-style: none;
    font-size: 17px;
    border-bottom: 1px solid #2E3441;
    box-shadow: 0 0 5px #ddaf64;
    transition: background 2s;
    text-transform: capitalize;
    min-width: 40vh;
    max-width: 5vh;
    margin: 0px 5px;
    display: inline-flex;
    padding: 5px;
}

.navListDisplay {
    background: #ddaf64;
    list-style: none;
    font-size: 15px;
    border-bottom: 1px solid #2E3441;
    box-shadow: 0 0 5px #ddaf64;
    padding: 10px;
    transition: background 2s;
    text-transform: capitalize;
    min-width: 30vh;
    max-width: 5vh;
    margin: 0px 5px;
}

/* spans */
.title {
    font-size: 17px;
    text-align: left;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

.gameTitle {
    font-size: 17px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navListTitle {
    font-size: 15px;
    text-align: left;
    justify-content: center;
}

/* remove list style if empty */
.opacityList {
    opacity: 0;
}

/* images */
.imgLanding {
    padding: 10px 0 10px auto;
    margin-left: auto;
    margin-right: 0;
}

.imgList {
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: 0;
}

/* links */
.linkLanding {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}

.linkList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}

.linkNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}