html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background:#383838;
}

/* wrapper style */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#2E3441;
    flex-direction: column;
}

.wrapperList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* form and input style */
.bar {
    display: flex;
    position: relative;
}

.submit {
    background: #ddaf64;
    border: #ddaf64;
    border-radius: 5px;
}
.text {
    padding: 10px 50px;
    text-align: center;
    min-width: 40vh;
    border-radius: 5px;
    background: #ddaf64;
    color: black;
}



/* list style */
.game {
    align-items: center;
    top: 495px;
    padding-right: 60px;
    position: absolute;
}

.display {
    list-style: none;
    font-size: 10px;
}

li {
    background: #ddaf64;
    list-style: none;
    border-bottom: 1px solid #2E3441;
    box-shadow: 0 0 5px #ddaf64;
    padding: 20px;
    transition: background 2s;
    justify-content: center;
    text-transform: capitalize;
    min-width: 40vh;
    max-width: 5vh;
    margin: 0px 5px;
}

span {
    font-size: 20px;
    text-align: left;
    justify-content: center;
}

/* remove list style if empty */
.opacityList {
    opacity: 0;
}